<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>nativeIntegration</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.laymui.usermanagement.testapp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.laymui.usermanagement.testapp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.nativeintegration</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.nativeintegration</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>https://com.yara.usermanagement.testapp</string>
		<string>com.yara.usermanagement.testapp</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>NotoSans-Black.ttf</string>
		<string>NotoSans-Bold.ttf</string>
		<string>NotoSans-Medium.ttf</string>
		<string>NotoSans-Regular.ttf</string>
		<string>NotoSans-SemiBold.ttf</string>
		<string>NotoSansBengaliUI-Black.ttf</string>
		<string>NotoSansBengaliUI-Bold.ttf</string>
		<string>NotoSansBengaliUI-Medium.ttf</string>
		<string>NotoSansBengaliUI-Regular.ttf</string>
		<string>NotoSansBengaliUI-SemiBold.ttf</string>
		<string>NotoSansDevanagariUI-Black.ttf</string>
		<string>NotoSansDevanagariUI-Bold.ttf</string>
		<string>NotoSansDevanagariUI-Medium.ttf</string>
		<string>NotoSansDevanagariUI-Regular.ttf</string>
		<string>NotoSansDevanagariUI-SemiBold.ttf</string>
		<string>NotoSansGujaratiUI-Black.ttf</string>
		<string>NotoSansGujaratiUI-Bold.ttf</string>
		<string>NotoSansGujaratiUI-Medium.ttf</string>
		<string>NotoSansGujaratiUI-Regular.ttf</string>
		<string>NotoSansGujaratiUI-SemiBold.ttf</string>
		<string>NotoSansGurmukhiUI-Black.ttf</string>
		<string>NotoSansGurmukhiUI-Bold.ttf</string>
		<string>NotoSansGurmukhiUI-Medium.ttf</string>
		<string>NotoSansGurmukhiUI-Regular.ttf</string>
		<string>NotoSansGurmukhiUI-SemiBold.ttf</string>
		<string>NotoSansKannadaUI-Black.ttf</string>
		<string>NotoSansKannadaUI-Bold.ttf</string>
		<string>NotoSansKannadaUI-Medium.ttf</string>
		<string>NotoSansKannadaUI-Regular.ttf</string>
		<string>NotoSansKannadaUI-SemiBold.ttf</string>
		<string>NotoSansTamilUI-SemiCondensed.ttf</string>
		<string>NotoSansTamilUI-SemiCondensedBlack.ttf</string>
		<string>NotoSansTamilUI-SemiCondensedBold.ttf</string>
		<string>NotoSansTamilUI-SemiCondensedMedium.ttf</string>
		<string>NotoSansTamilUI-SemiCondensedSemiBold.ttf</string>
		<string>NotoSansTeluguUI-Black.ttf</string>
		<string>NotoSansTeluguUI-Bold.ttf</string>
		<string>NotoSansTeluguUI-Medium.ttf</string>
		<string>NotoSansTeluguUI-Regular.ttf</string>
		<string>NotoSansTeluguUI-SemiBold.ttf</string>
		<string>NotoSansThaiUI-Black.ttf</string>
		<string>NotoSansThaiUI-Bold.ttf</string>
		<string>NotoSansThaiUI-SemiBold.ttf</string>
		<string>NotoSerifThai-Medium.ttf</string>
		<string>NotoSerifThai-Regular.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
